DSN="host=127.0.0.1 user=postgres password=root dbname=postgres port=5432 sslmode=disable"
IS_DEV=1
REDIS_ADDR=localhost:6379
BALANCE_SERVER_URL=http://localhost:8082
ORACLE_SERVER_URL=https://testnetoracle.logx.network
API_SERVER_URL=http://localhost:8080
PORT=8081
STOP_TRIGGER_ORDER_CRON=0