DSN="host=localhost user=postgres password=root dbname=postgres port=5432 sslmode=disable"
IS_DEV=1
KEEPER=0x.... #Private key
LOGX_NETWORK_ANALYTICS_URL="https://logx-network-analytics-vraqb64neq-uc.a.run.app"
LOGX_NETWORK_ANALYTICS_TOKEN=""
ENGINE_URL=""
BALANCE_SERVER_URL=""
ORACLE_SERVER_URL=https://testnetoracle.logx.network
PERP_CONTRACT_ADDRESS=0x69CB1Ea0e5Ca89EA3CebBBb8F383356F2f570b77
IP_API_KEYS="hfdgjhgfjhsfg,jjlkjwhbjbkbkb"
AMM_SUBACCOUNT_ID="0x0000000000010000000000000000000000000000000000000001000000000001"
IS_UNDER_MAINTENACE = ""
PERP_PRODUCT_SYMBOLS= ""
IS_CLAIM_ALLOWED = 0
LIQUIDATION_URL=http://localhost:8086
