DSN="host=127.0.0.1 user=postgres password=root dbname=postgres port=5432 sslmode=disable"
BROKER_ID=1
API_SERVER_WS=ws://localhost:8080
LOGX_KEY=
LOGX_SECRET=
SOLVER_SIGNER_PRIVATE_KEY=
ORACLE_GATEWAY_URL=https://logx-network-oracle-gateway-vraqb64neq-uc.a.run.app
SUB_ACCOUNT_ID=1_0xd37eD507cA37Faa17079bFf5e46DcedE951577dB_1
TICKER=2
DISCORD_NETWORK_SYNC_WEBHOOK=https://discord.com/api/webhooks/