REDIS_ADDR=localhost:6379
DSN="host=127.0.0.1 user=postgres password=root dbname=postgres port=5432 sslmode=disable"
ORACLE_SERVER_URL=https://testnetoracle.logx.network
API_SERVER_URL=http://localhost:8080
AMM_SUBACCOUNT_ID=1_0xd37eD507cA37Faa17079bFf5e46DcedE951577dB_1
STOP_SERVICE=0

JOB1_INTERVAL_SEC=30
JOB2_INTERVAL_SEC=30
JOB3_INTERVAL_SEC=20
JOB4_INTERVAL_SEC=15
JOB5_INTERVAL_SEC=10
JOB6_INTERVAL_SEC=120
JOB_WRITE_STATS_INTERVAL_SEC=10
DEBUG_MODE=0
DISCORD_NETWORK_SYNC_WEBHOOK=
LIQUI_REDIS_ADDR=localhost:6379