BALANCE_SERVER_URL=
IS_UNDER_MAINTENACE = ""
BATCH_CRON_INTERVAL = ""
ARB_RPC_URL = ""
LOGX_TOKEN_ADDRESS=""
ARB_REWARD_SENDER_PRIVATE_KEY= ""
LOGX_REWARD_AMOUNT = ""
LOTTERY_DISCORD_NETWORK_SYNC_WEBHOOK= ""
LOTTERY_IMAGE_URL= ""
STOP_EXTERNAL_FUNDING_ENGINE = ""